.welcome-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    max-width: 840px;
    height: fit-content;

    gap: 16px;

    p {
        margin-left: 4px;
        margin-right: 4px;
        text-align: left;
    }
}