<main class="welcome-intro">
    <section class="intro-text">
        <p>My name is Philip Simpson.  I'm a Full Stack Web Developer / Game Developer and have been immersed in programming and technology for my entire life. I prioritize intuitive and efficient design principles, and am always looking to expand my knowledge with new trends and technologies.</p>
        <p>This website serves as a portfolio to highlight my expertise with various programming languages and frameworks.  All projects include GitHub or website links, and my contact information can be found at the top-right of the UI. Feel free to contact me for any inquiries, work or otherwise.</p>
    </section>
    <section>
        <div>
            <img src="assets/images/profile.png" width="64" height="64">
            <a href="https://www.linkedin.com/in/simpson-philip/" target="_blank" rel="noopener noreferrer">
                <p>Linkedin</p>
                <fa-icon class="fa-icon" [icon]="faLinkedin"></fa-icon>
            </a>
        </div>
    </section>
</main>
