.welcome-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: fit-content;
    background-color: #34419d;

    p {
        padding: 4px;
        text-align: left;
        text-indent: 4rem;
        background-color: #34419d;
    }
}