.welcome-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: fit-content;
    background-color: #34419d;

    p {
        margin-left: 4px;
        margin-right: 4px;
        text-align: center;
        background-color: #34419d;
    }
}