.wrapper {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
        display: flex;
        flex-direction: column;
        width: fit-content;
        max-width: 75%;
        height: fit-content; 
        gap: 32px;
    }

    .projects {
        width: 25%;
    }
}
