.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    overflow-y: scroll;
    overflow-x: hidden;


    .content {
        display: flex;
        flex-direction: column;
        width: fit-content;
        max-width: 75%;
        max-height: 90%;
        gap: 32px;

        app-description {
            height: fit-content;
        }
    }

    .projects {
        display: flex;
        flex-direction: column;
        width: fit-content;
        max-width: 25%;
        max-height: 90%;
        gap: 32px;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(32, 32, 32);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #A2EC48;
  }

  ::-webkit-scrollbar-track {
    margin-top: 16px;
    margin-bottom: 16px;
}

@media only screen and (max-width: 900px) {
    .wrapper {
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 120px;
        width: 96%;
        gap: 0px;

        overflow-y: auto;
        overflow-x: hidden;

        .content {
            display: flex;
            flex-direction: column;
            width: fit-content;
            max-width: 90%;
            height: fit-content;
            overflow-y: auto;
            overflow-x: hidden;
            gap: 32px;
        }
    
        .projects {
            display: flex;
            flex-direction: column;
            width: fit-content;
            max-width: 90%;
            height: fit-content;
            overflow-y: visible;
            gap: 32px;
            margin-bottom: 32px;
        }
    }
}

@media only screen and (min-width: 901px) {
    .wrapper {
        width: 80%;
        height: 80%;
    }
}