.socials {
    display: flex;
    flex-direction: row;

    gap: 32px;
    max-height: 30px;
    transform: scale(1.5);

    background-color: transparent;

    * {
        background-color: transparent;
    }

    a {
        display: flex;
        flex-direction: row;
        gap: 8px;
        text-decoration: none;

        max-height: 30px;

        margin: 0;
        padding: 0;

        p {
            text-shadow:0 5px 8px black;
        }
    }

    a:hover {
        transform: scale(1.1);
    }
}

@media only screen and (max-width: 1220px) {
    .socials {
        transform:none;
        gap: 16px;
    }
}

@media only screen and (max-width: 480px) {
    .socials {
        transform:scale(1.5);
        gap: 0;

        p {
            visibility: hidden;
            width: 0;
        }
    }
}