.container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 16px;
    width: fit-content;

    app-skill-panel {
        border-radius: 16px;
        width: fit-content;
        height: 32px;
        margin: 8px;
    }
}