.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: fit-content;
    height: fit-content;

    .underline {
        padding-bottom: 1px;
        background: 
        linear-gradient(to top left,
        #3ad59f 0%, #f8ff00 100%);
        width: fit-content;

        .project {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: right;
        }
    }
}