<div class="container"> 
    <h1>Projects</h1>

    <div class="projects-container">
        <div *ngFor="let project of projects" class="underline-container">
            <div class="underline">
                <div (click)="selectProject(project.id)" class="project" id="tiny-tactics">
                    <p>{{project.title}}</p>
                </div>
            </div>
        </div>
    </div>



    <div class="underline-container">
        <div class="underline">
            <div (click)="selectProject(welcome)" class="project" id="Resource Wall">
                <p>Home</p>
            </div>
        </div>
    </div>
</div>
