.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: fit-content;
    height: 100%;

    h1 {
        padding: 16px;
        text-align: right;
        height: fit-content;
    }

    .projects-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 32px;
        width: 100%;
    }

    .underline-container {
        display: flex;
        justify-content: right;

        .underline {
            display: flex;
            justify-content: right;
            padding-bottom: 1px;
            background: 
            linear-gradient(to top left,
            #A2EC48 0%, #A2EC48 100%);
            width:  fit-content;
            height: fit-content;
            
    
            .project {
                display: flex;
                flex-direction: column;
                justify-content: right;
                text-align: right;
    
                cursor:pointer;

                p:hover {
                    color: #A2EC48;
                }
            }
        }
    }

}

.selected {
    color: #A2EC48;
}

@media only screen and (max-width: 900px) {
    .container {
        h1 {
            margin-left: 16px;
            text-align: left;
            align-items: flex-start;
            justify-content: flex-start;
        }

        .underline-container {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            height: fit-content;
            width: fit-content;
        }

        .projects-container {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}