<div class="container"> 
    <h1>Projects</h1>

    <div class="projects-container">
        <div class="underline">
            <div class="project" id="tiny-tactics">
                <p>Tiny Tactics</p>
            </div>
        </div>
        <div class="underline">
            <div class="project" id="wow-tracker">
                <p>WoW Tracker</p>
            </div>
        </div>
        <div class="underline">
            <div class="project" id="Resource Wall">
                <p>Resource Wall</p>
            </div>
        </div>
    </div>
</div>
