.underline {
    padding-bottom: 1px;
    width: fit-content;
    padding: 2px;

    .panel {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
        p {
            width: fit-content;
            height: fit-content;
            background:transparent;
            margin: 8px;
        }
    
        * {
            background: transparent;
        }
    }
}

.filter {
    filter: invert(84%) sepia(63%) saturate(513%) hue-rotate(28deg) brightness(98%) contrast(89%);
}