.underline {
    padding-bottom: 1px;
    width: fit-content;
    padding: 2px;

    .panel {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
        p {
            width: fit-content;
            height: fit-content;
            background:transparent;
            margin: 8px;
        }
    
        * {
            background: transparent;
        }
    }
}

.filter {
    filter: invert(83%) sepia(0%) saturate(993%) hue-rotate(188deg) brightness(95%) contrast(79%);
}