.panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background: 
    linear-gradient(to top left,
    #3ad59f 0%, #f8ff00 100%);
    border-radius: 16px;

    p, fa-icon {
        width: fit-content;
        height: fit-content;
        background:transparent;
        margin: 8px;
        color: black;
    }

    * {
        background: transparent;
    }
}