#page-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;

    router-outlet {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 32px;
        overflow: hidden;

        .card-back {
            width: fit-content;
            height: fit-content;
            padding: 12px;
            border: 4px solid rgb(185, 185, 185);

            app-introduction {
                display:flex;
                justify-content: center;
                align-items: center;
        
                width: fit-content;
                height: fit-content;
            }
    
            app-skills {
                width: fit-content;
                height: fit-content;
            }
        }

        app-home{
            display:flex;
            justify-content: center;
            align-items: center;
        }
        app-welcome {
            display:flex;
            justify-content: center;
            align-items: center;
    
            width: fit-content;
            height: fit-content;
        }
        app-links { 
            display:flex;
            justify-content: center;
            align-items: center;
    
            width: fit-content;
            height: fit-content;
        }  
    } 
}
