<section class="project-card">
    <img src={{project.thumbnail}} width="640" height="360">

    <div>
        <h2>{{project.title}}</h2>
        
        <p>{{project.description}}</p>
        
        <app-skills [skills]="project.skills"></app-skills>
        
        <div *ngIf="project.links">
            <section>
                <a href="{{project.links[0]}}" target="_blank" rel="noopener noreferrer" *ngIf="project.links[0]">
                    <p>Github</p>
                    <fa-icon class="fa-icon" [icon]="faGithub"></fa-icon>
                </a>
            </section>
            <section>
                <a href="{{project.links[1]}}" target="_blank" rel="noopener noreferrer" *ngIf="project.links[1]">
                    <p>Website!</p>
                    <fa-icon class="fa-icon" [icon]="faGlobe"></fa-icon>
                </a>
            </section>
        </div>
    </div>
</section>
