.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height: fit-content;
    gap: 16px;

    h1 {
        padding: 16px;
    }

    h1, p {
        height: fit-content;
    }

    .images {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        img {
            cursor: pointer;
            margin: 8px;
            width: 30%;
            min-width: 320px;
            min-height: 180px;
        }

        img:hover {
            box-shadow: 0 0 0 2px #A2EC48;
        }
    }

    .links {
        display: flex;
        flex-direction: row;
        justify-content: left;
        width: fit-content;
        gap: 32px;
        margin-left: 16px;

        a {
            color: #A2EC48;
            text-decoration: none;
        }

        a:hover {
            cursor: pointer;
        }
    }
}

.underline {
    padding-left: 2px;
    background: 
    linear-gradient(to top left,
    #A2EC48 0%, #A2EC48 100%);
    width: fit-content;

    p {
        padding-left: 16px;
    }
}

@media only screen and (max-width: 900px) {
    .description {
        .underline {
            padding-left: 2px;
            background: none;
        
            p {
                width: 90%;
            }
        }
    }
}