<div class="description">
    <h1>Hello!</h1>

    <div class="underline">
        <p>
            My name is Philip, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac rhoncus tortor. Integer dictum eros ut neque tincidunt, eget ullamcorper lectus laoreet. Donec malesuada elit sit amet commodo suscipit. Nam lobortis pretium risus, ut euismod est lacinia non. Nulla pellentesque velit vel condimentum pellentesque. Sed.
        </p>
    </div>

    <div *ngIf="project" class="images">
        <img src="https://raw.githubusercontent.com/Pwsjas/tactics/main/server/public/images/img2.png">
        <img src="https://raw.githubusercontent.com/Pwsjas/tactics/main/server/public/images/img1.png">
        <img src="https://raw.githubusercontent.com/Pwsjas/tactics/main/server/public/images/img3.png">
    </div>
</div>
