/* You can add global styles to this file, and also import other style files */
$main-color: #ced9ec;
$secondary-color: #66b0c7;
$tertiary-color: #34419d;

* {
    margin: 0;
    padding: 0;
    background-color: $secondary-color;
    color: $main-color;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 100%;
  min-height: 100%;
  
  body {
    min-width: 100%;
    min-height: 100%;

    app-root {
      min-width: 100%;
      min-height: 100%;
    }
  }
}

@media only screen and (max-width: 900px) {
    * {
      html {
        body {
            min-width: 100%;
            min-height: 100%;
        }
      }
    }
  }
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $secondary-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $tertiary-color;
}