/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(32, 32, 32);
    color: rgb(185, 185, 185);

    html {
        display: flex;
        justify-content: center;
        align-items: center;
        
        body {
          min-width: 100%;
          min-height: 100%;
        }
    }

    h1 {
        color: #A2EC48;
    }
}

@media only screen and (max-width: 900px) {
    * {
      html {
        body {
            width: 100%;
            height: 100%;
        }
      }
    }
  }
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
