/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(32, 32, 32);
    color: rgb(185, 185, 185);

    html {
        display: flex;
        justify-content: center;
        align-items: center;
        
        body {
            width: 95%;
            height: 95%;
        }
    }

    h1 {
        color: #A2EC48;
    }
}