<div class="main-panel">
    <div class="content">
        <img class="logo"src="./assets/images/pws.png">
        <div class="socials">
            <div class="email">
                <p>contact</p>
                <fa-icon class="fa-icon" [icon]="faEnvelope"></fa-icon>
            </div>
            <div class="github">
                <p>github</p>
                <fa-icon class="fa-icon" [icon]="faGithub"></fa-icon>
            </div>
            <div class="resume">
                <p>resume</p>
                <fa-icon class="fa-icon" [icon]="faFile"></fa-icon>
            </div>
        </div>
    </div>
    <div class="border-top-left"></div>
    <div class="border-bottom-right"></div>
</div>
