<div class="main-panel">
    <div class="content">
        <app-main-content></app-main-content>
        <div class="logo">
            <fa-icon class="fa-icon fa-xl" [icon]="faP"></fa-icon>
            <fa-icon class="fa-icon fa-xl" [icon]="faW"></fa-icon>
            <fa-icon class="fa-icon fa-xl" [icon]="faS"></fa-icon>
        </div>
        <div class="socials">
            <a class="email" href="mailto:pwsjas433@gmail.com" target="_blank" rel="noopener noreferrer">
                <p>Contact</p>
                <fa-icon class="fa-icon" [icon]="faEnvelope"></fa-icon>
            </a>
            <a class="github" href="https://github.com/Pwsjas" target="_blank" rel="noopener noreferrer">
                <p>Github</p>
                <fa-icon class="fa-icon" [icon]="faGithub"></fa-icon>
            </a>
        </div>
    </div>
    <div class="border-top-left"></div>
    <div class="border-bottom-right"></div>
</div>
